@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>index</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/Content/quill/syntax.css">
    <link rel="stylesheet" href="/Content/quill/styles.css">

    <link rel="stylesheet" href="//cdn.quilljs.com/0.19.11/quill.snow.css">
</head>
<body>
    <div id="toolbar">
        <button class="ql-bold">Bold</button>
        <button class="ql-italic">Italic</button>
    </div>

    <!-- Create the editor container -->
    <div id="editor">
        <div>Hello World!</div>
    </div>

    <!-- Include the Quill library -->
    <script type="text/javascript" src="/Content/quill/quill.js"></script>

    <!-- Initialize Quill editor -->
    <script>
        var editor = new Quill('#editor');
        editor.addModule('toolbar', { container: '#toolbar' });
    </script>
    <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script type="text/javascript" src="//netdna.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/Content/quill/index.js"></script>
</body>
</html>
