@{
    ViewBag.Title = "Editor home page";
    Layout = "~/Views/Shared/_layout.cshtml";
}

<h2>Welcome to my JS editor test site</h2>

<ul>
    <li>
        @Html.ActionLink("Fresh Editor", "Index", "Editor")
    </li>
</ul>
