@{
    Layout = null;
    string returnUrl = ViewBag.ReturnURL;
    /*
     * todo:
     * 1. put in model code
     * 2. output story id
     * 3. put in javascript to post content to the server
     */ 
}

<!DOCTYPE html>

<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <script src="~/Content/FreshEditor/shortcut.js" type="text/javascript"></script>
    <script src="~/Content/FreshEditor/farbtastic/farbtastic.js" type="text/javascript"></script>
    <script src="~/Content/FreshEditor/bootstrap/bootstrap-dropdown.js" type="text/javascript"></script>
    <script src="~/Content/FreshEditor/freshereditor.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            //$('#content-editor').freshereditor({ toolbar_selector: "#toolbar", excludes: ['removeFormat', 'insertheading4'] });
            $('#content-editor').freshereditor({ toolbar_selector: "#toolbar" });
            $("#content-editor").freshereditor("edit", true);
        });
	</script>
    <link href="~/Content/FreshEditor/bootstrap/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/FreshEditor/farbtastic/farbtastic.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/FreshEditor/freshereditor.css" rel="stylesheet" type="text/css" />
    <style type="text/css">
        #content-editor {
            margin: 50px 10px 10px 10px;
            padding: 5px;
            border: 1px solid silver;
            width: 95%;
            min-height: 400px;
            max-height: 400px;
            overflow:auto;
        }

        #toolbar {
            margin: 10px;
        }
        a {
            margin: 50px 10px 10px 10px;
        }
    </style>
</head>
<body>
    <div>
        <div class='navbar navbar-fixed-top'>
            <div id="toolbar"></div>
        </div>
    </div>

@*    <input type="hidden" id="HidStoryId" value="@Model.StoryId" />
    *@
    <div id="wrapper">
        <div id="content-editor" class="clear">
            type here...
        </div>
    </div>
    @Html.ActionLink("Save", "Save")
    <a href="@returnUrl">Return</a>
</body>
</html>
